{
  "autoboot": {{ autoboot }}
, "brand": "{{ brand }}"
 {% if "lx" in brand %}
, "kernel_version": "{{ kernel_version }}"
 {% endif %}
, "firewall_enabled": "{{ firewall_enabled }}"
, "image_uuid": "{{ image_uuid }}"
, "max_physical_memory": {{ max_phy_mem }}
, "cpu_cap": {{ cpu_cap }}
, "alias": "{{ alias }}"
, "hostname": "{{ alias }}.{{ domain }}"
, "delegate_dataset": "{{ delegate_dataset }}"
, "limit_priv": "{{ limit_priv }}"
, "dns_domain": "{{ domain }}"
, "dns_search": "{{ domain }}"
, "quota": "{{ quota }}"
, "resolvers": [
  {% for resolver in resolvers %}
    {% if loop.first %}
      "{{ resolver }}"
    {% else %}
      ,"{{ resolver }}"
    {% endif %}
  {% endfor %}
 ]
, "nics": [
 {% for nic in nics %}
  {
     "primary": {{ primary }}
   , "interface": "{{ nic.interface }}"
   , "nic_tag": "{{ nic.nic_tag }}"
   {% if nic.vlan_id is defined %}
   , "vlan_id": "{{ nic.vlan_id }}"
   {% endif %}
   , "ips":[
  {% for cidr in nic.ips %}
    {% if loop.first %}
      "{{ cidr }}"
    {% else %}
      ,"{{ cidr }}"
    {% endif %}
  {% endfor %}
 ]
   {% if nic.gateways is defined %}
   , "gateways": [
      {% for gateway in nic.gateways %}
        {% if loop.first %}
           "{{ gateway }}"
        {% else %}
          , "{{ gateway }}"
        {% endif %}
      {% endfor %}
 ]
   {% endif %}
   {% if nic.allowed_ips is defined %}
   , "allowed_ips": [
      {% for cidr in nic.allowed_ips %}
        {% if loop.first %}
          "{{ cidr }}"
        {% else %}
          ,"{{ cidr }}"
        {% endif %}
      {% endfor %}
 ]
   {% endif %}
   , "allow_ip_spoofing: "{{ nic.allow_ip_spoofing }}"
   , "allow_mac_spoofing: "{{ nic.allow_mac_spoofing }}"
   , "allow_unfiltered_promisc: "{{ nic.allow_unfiltered_promisc }}"
  }
   {% if not loop.last %}
    ,
   {% endif %}
  {% endfor %}
 ]
{% if filesystems is defined %}
, "filesystems": [
  {% for fs in filesystems %}
    {
       "source": "{{ fs.source }}"
     , "target": "{{ fs.target }}"
     , "type": "lofs"
     , "options": [
        {% if fs.read_only %}
        "ro",
	{% endif %}
        "nodevices"
      ]
    }
    {% if not loop.last %}
      ,
    {% endif %}
  {% endfor %}
  ]
{% endif %}
, "customer_metadata": {
      "root_authorized_keys":"{{ root_authorized_keys }}"
    , "user-script" : "{{ user_script }}"
  }

}
