{
  "remoteVMs": [
{% for host in remote_vms if item.item != host.hypervisor_host %}
    {
      "uuid": "{{ host.uuid }}",
      "owner_uuid": "{{ host.owner_uuid }}",
      "ips": [
{%   for ip in host.ips | split(' ') %}
                "{{ ip }}"{% if not loop.last %},
{%                           endif %}
{%   endfor %}
      ],
      "tags": {
        "role": "{{ host.role }}",
        "roles": "{{ host.roles }}",
        "server_set": "{{ host.server_set }}"
      }
    }{% if not loop.last %},
{%      endif %}
{% endfor %}

  ]
}
